
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  height:70px;
}
nav ul {
  display: flex;
  gap: 1.9rem;
  list-style-type: none;
}
a {
	text-decoration: none;
	color: var(--primary-color);
}
a:hover{
	border-bottom:1px solid #2e4053;
  cursor:pointer;

}

a li{
	color:#2e4053;
}
li:hover{
	color:black;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 1000px) {
	.burger-menu {
		visibility: hidden;
	}
}
@media screen and (max-width: 1000px) {
	.navigation {
		visibility: hidden;
	}
}
